// 定义全局样式
$red:red;

@mixin line-text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


@mixin flex-style {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}